<%= form_for(@dream) do |f| %>
	<div class="field"><%= f.label :title %><%= f.text_field :title %> </div>
	<div class="field"><%= f.label :scary %><%= f.text_field :scary %></div>
	<div class="field"><%= f.label  :happy %><%= f.text_field :happy %></div>
	<div class="field"><%= f.label :storyline %><%= f.text_field :storyline %></div>
	<div class="field"><%= f.label :characters %><%= f.text_field :characters %></div>
	<div class="actions"><%=f.submit%> </div>
<%end%>