<div class="dream">
	<div><%=@dream.title %></div>
	<div><%=@dream.scary %></div>
	<div><%=@dream.happy %></div>
	<div><%=@dream.storyline %></div>
	<div><%=@dream.characters %></div>
	<div><%=@dream.date %></div>
</div>
